.modalWrapper {
  :global(.ant-modal-content) {
    border-radius: 22px;
    font-family: var(--jk-sans);
  }
  :global(.ant-modal-body) {
    padding: 0;
  }
  :global(.ant-modal-close-x) {
    color: #a3eff0;
  }
}
.bg {
  background-color: black;
}
.searchContentWrapper {
  background-color: #212121;
}
.inputWrapper {
  margin: 0rem auto;
  width: 90%;
  border-radius: 50px;
  background: rgb(0, 0, 0);
  padding: 0 0 0 0.625rem;
}
.moviesWrapper {
  height: 80vh;
  overflow-y: scroll;
  padding-bottom: 2rem;
  background: #212121;
}
.moviesWrapper .cardsWrapper {
  margin-top: 0;
  background-color: #212121;
}
.moviesWrapper .movieListWrapper {
  background-color: #212121;
}
.input {
  border-radius: 50px;
  width: 90%;
  margin-right: auto;
  color: #d0484f;
}
.input:focus {
  outline: none;
}

.recentSearchWrapper {
  display: flex;
  padding: 0rem 0 1rem 0;
  gap: 1rem;
  align-items: center;
  flex-wrap: wrap;
  max-width: 90%;
  margin: 0 auto;
}
.recentMovie {
  padding: 0.5rem;
  border: 1px solid #d0484f;
  color: #d0484f;
  border-radius: 8px;
  font-size: 14px;
  cursor: pointer;
}
.recentMovie:hover {
  background-color: #b30000;
  color: white;
}

@media (max-width: 36em) {
  .inputWrapper {
    margin: 1rem auto 0;
  }
}
