.wrapper {
  width: 250px;
  display: inline-block;
}
.movieImg {
  width: 100%;
  height: auto;
}
.defaultBg {
  width: 100%;
  height: 351px;
  display: grid;
  place-content: center;
}
.link a:hover {
  color: white;
}

@media (max-width: 36em) {
  .wrapper {
    width: 100%;
    margin: 0 1.25rem;
  }
}
