.header {
  box-shadow: 1px 2px 0px 1px #440004;
}

.popover :global(.ant-popover-inner-content) {
  font-family: var(--jk-sans);
  background: #222222;
  border-radius: 4px;
  color: white;
}
.popover :global(.ant-popover-inner) {
  background: #222222;
}
